{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
    $(function() {
        var val = 0;
        function autoUpdate(){
            $.getJSON($SCRIPT_ROOT+'/getNum', {}, function(data){
                document.getElementById("num").innerHTML = "在线用户 "+data.result;
                setTimeout(autoUpdate, 30000);
            });

            //console.log(val);
        }
        autoUpdate();
    });

    $(function(){
        var regVal = 0;
        function autoUpdateReg(){
            $.getJSON($SCRIPT_ROOT+"/getRegister", {}, function(data){
                document.getElementById("reg").innerHTML = "当前注册用户"+data.result;
                setTimeout(autoUpdateReg, 30000);
            });
        }
    });

    

</script>
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
<li><h2 id=num> 在线用户 {{data}}  </h2>
<li><h2 id=reg> 当前注册用户 {{reg}} </h2>
  </ul>
{% endblock %}
